html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font-family: 'Coda', cursive;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
    width: 660px;
    min-height: 680px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 32px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    perspective: 600px;
    position: relative;
}

.deck .card {
    height: 125px;
    width: 125px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

.deck .card.open {
    transform: rotateY(0);
    transition: transform 0.2s;
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    transform: rotateY(0);
    -webkit-animation: matched .5s ease;
}

.deck .card.wrong {
    cursor: default;
    background: #d21f3c;
    font-size: 33px;
    transform: rotateY(0);
    -webkit-animation: wrong .5s ease;
}

/*
 * Animation of correct match
 */
@-webkit-keyframes matched {
    0%,100% {transform: scale(1,1);}
    40% {transform: scale(1.3,0.8);}
    55% {transform: scale(0.8,1.2);}
    70% {transform: scale(1.2,0.9);}
    85% {transform: scale(0.9,1.1);}
}

/*
 * Animation of incorrect match
 */
@-webkit-keyframes wrong {
    0%,100% {transform: translate(0) rotate(0);}
    25% {transform: translate(-40px) rotate(-5deg);}
    50% {transform: translate(15px) rotate(2deg);}
    75% {transform: translate(-20px) rotate(-3deg);}
}

/*
 * Styles for the Score Panel
 */

.score-panel {
    text-align: left;
    width: 450px;
    margin-bottom: 10px;
}

.score-panel .stars {
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer {
    float: right;
    width: 200px;
    text-align: right;
}

.score-panel .restart {
    float: right;
    cursor: pointer;
}

/* Styles for winning message */
.winning {
    text-align: center;
    position: absolute;
    background-color: white;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
}
.winningContent {
    display: table;
    width: 500px;
    height: 100%;
    text-align: center;
    margin: auto;
}
.contents {
    display: table-cell;
    vertical-align: middle;
}
.button {
    cursor: pointer;
    background: #02ccba;
    border-radius: 3px;
    color: #fff;
    width: 160px;
    margin: 0 auto;
    font-size: 22px;
}
.total-time {
    color: #f00;
}


/* Styles for cross-device compatibility */
@media screen and (max-width: 600px) {
    .title {
        font-size: 30px;
        height: 30px;
    }
    .deck {
        width: 300px;
        padding: 10px;
        min-height: 360px;
    }
    .deck .card {
        width: 65px;
        height: 65px;
    }
    .deck .card.show, .deck .card.match {
        font-size: 24px;
    }
    .score-panel {
        width: 280px;
        margin-bottom: 15px;
    }
    .score-panel .stars,
    .score-panel .moves,
    .score-panel .restart {
        font-size: 14px;
    }
    .score-panel .stars {
        margin: 0;
    }
    .score-panel .timer {
        width: 152px;
        font-size: 14px;
    }
    .time, .rs { vertical-align: middle; }

    @-webkit-keyframes wrong {
        0%,100% {transform: translate(0) rotate(0);}
        25% {transform: translate(-20px) rotate(-5deg);}
        50% {transform: translate(5px) rotate(2deg);}
        75% {transform: translate(-10px) rotate(-3deg);}
    }

    .winningContent {
        width: 300px;
    }
}
